
body{
background-color: black;

}

.container {
    margin-left:  10%;
    margin-right: 10%;
    color: aliceblue;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns:  100px 307px 308px 307px 100px;
    grid-template-rows:  100px 222px 422px 100px 100px;
 }

 nav,header, content1, main, aside,footer{
    padding: 15px;
  }

nav{
    color: whitesmoke;
    background-color: black;
    grid-column-start:1;
    grid-column-end:6; 
    grid-row-start:1;
    grid-row-end:2;
}

header{
    background-color: black;
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:3;
}

main{
    background-color: black;
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:4;
}


footer{
    border: solid black 10px;
    padding: 10px;
    background-color: #333;
    grid-column-start:1;
    grid-column-end:6;  
    grid-row-start:5;
    grid-row-end:6;
}

.mineImage{
    margin: 10px;
}
/*####### social icons########*/
.social-icons {
  text-align: center;
}  

.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.social-icons li a {
  border-bottom: none;
}

.social-icons li img {
  width:40px;
  height:40px;
  margin-right: 20px;
}

/*##### drop down Nav Bar#####*/

.header {
  background-color: #f1f1f1;
  /*padding: 30px;*/
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: grid;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: auto;
}

.sticky + .content {
  padding-top: 60px;
}
